.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 45px;
    margin-bottom: 5px;
  }
  .video__description {
    margin-top: 20px;
    font-size: 17px;
  }
  .video__createdAt {
    margin-top: 100px;
    font-size: 17px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 17px;
    a {
      color: whitesmoke;
      text-decoration: underline;
    }
  }
}
.edit_button {
  width: 125px;
  font-size: 17px;
}
.delete_button {
  width: 140px;
  font-size: 17px;
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  #deleteBtn {
    background-color: white;
    border-style: none;
    margin-bottom: 2px;
  }
}
#deleteBtn:hover {
  cursor: pointer;
}
