extends ../base

block content 
    form(method="post")
        input(placeholder="Old password")
        input(placeholder="New password")
        input(placeholder="New password confirmation")
        input(value="Change Password" type="submit")